<a class="navbar-brand" >Bosch</a>
<ul class="nav nav-tabs|pills" id="navId">
  <li class="nav-item">
    <a routerLink="/"
       routerLinkActive="active"
       class="nav-link">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/products"
       routerLinkActive="active"
       class="nav-link">Products</a>
  </li>
  <li class="nav-item">
    <a routerLink="/kontakt"
       routerLinkActive="active"
       class="nav-link">Kontakt</a>
  </li>
</ul>
